* {
    margin: 0;
    padding: 0;

}

body {
    display: grid;
    place-items: center;
    line-height: 1.5 rem;
    background-color: black;

}

.container {
    border: 2px solid black;
    background-color:white

}

.heading {
    text-align: center;
    margin-bottom: 80px;
    font-weight: bolder;
    background-color: rgb(140, 255, 251);
    box-shadow: 5px 5px 5px black;
}

.container .table {
    /* border: 2px solid black; */
    margin: 0 auto;
}

 .table thead tr th {
    border: 2px solid black;
    text-align: center;
    line-height: 1.5 rem;
    padding: 5px 10px;
    font-size: 18px;
}

.container .table tbody .data {
    /* border: 2px solid black; */
    font-weight: bold;
    font-size: 12px;
}

.btn {
    width: 150px;
    line-height: 1.5;
    border: none;
    padding: 5px 0;
    font-weight: bold;
    /* box-shadow: 3px 3px 3px black; */
    margin-top: 30px;
    cursor: pointer;
    font-size: 18px;
    background-color: #CD5C5C;

} 


.container .changeTheme {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


